@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,900&display=swap');


.heading {
    font-family: "Roboto";
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    padding-top: 25px;
}
